.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0,0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Modal {
    background-color: aquamarine;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    border: 2px solid red;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}